/********************************************
 _conentents.scss 
 *******************************************/
.box_sort{
  padding-left: 15px;
  background: #fff;
  .btn{
    display: inline-block;
    padding: 3px 8px;
    margin: 9px 3px 0;
    color: #ffa409;
    border: 2px solid #ffa409;
    border-radius: 15px;
    font-weight: bold;
    font-size: 11px;
    background: #fff;
    &.on{
      color: #fff;
      background: #ffa409;

    }
  }
}
.list_cards{
  .card{
    position: relative;
    margin-top: 5px;
    padding: 14px 18px 0;
    background: #fff;
    &:first-child{
      margin-top: 0;
      padding-top: 9px;
    }
    &.sale .tit_card::after{
      position: absolute;
      top: 22px;
      left: 25px;
      padding: 1px 9px 2px;
      font-size: 13px;
      border-radius: 8px;
      color: #fff;
      background: #ffa409;
      content: "급매";
    }
  }
  .img_card{
    padding-top: 55%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    .img{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
  .info_card{
    padding: 10px 0;
  }
}
.info_card{
  .tit_card{
    font-size: 16px;
    color: #433;
  }
  .cont_card{
    font-size: 14px;
    color: #555;
    padding-top: 7px;
    line-height: 20px;
  }
  .txt_price{
    padding-top: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #795d2e;
  }
}