
/********************************************
 _layout.scss 
 *******************************************/

/* header nav */
.header{
  &.open{
    .wrap_snb{
      right: 0;
    }
    .dimmed{
      background-color: rgba(0,0,0,0.7);
    }
  }
  .nav_header{
    display: flex;
    height: 72px;
    align-items: center;
    justify-content: space-between;
    background: #fff;
  }
  .link_home{
    display: block;
    height: 50px;
    width: 112px;
    margin-left: 20px;
    background: url(assets/img/logo_main.png) no-repeat left top;
    background-size: 100% auto;
  }
  .btn_menu{
    width: 50px;
    height: 50px;
    margin-right: 12px;
    background: url(assets/img/btn_menu.svg) no-repeat center center;
  }
  .btn_gift{
    width: 50px;
    height: 50px;
    margin-right: 5px;
    margin-left: auto;
    background: url(assets/img/btn_gift.svg) no-repeat center center;
  }
}
.dimmed{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: transparent;
  transition: all 1s;
  z-index: 100;
}
.wrap_snb{
  position: fixed;
  right: -290px;
  top: 0;
  width: 290px;
  height: 100%;
  background: #fff;
  z-index: 101;
  transition: right 2s;
  .area_copy{
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    padding: 10px;
    border-top: 1px solid #ddd;
    text-align: right;
    background: #f7f7f7;
    box-sizing: border-box;
  }
  .list_snb{
    margin-top: 9px;
    padding: 13px 15px;
    border-top: 1px solid rgba(0,0,0,.04);
    .link_snb{
      display: block;
      padding: 12px 10px;
      font-size: 14px;
      color: #333;
      font-weight: 400;
      border-bottom: 1px solid #eff1f4;
    }
  }
  .copy{
    font-size: 12px;
    color: #999;
  }
  .btn_close{
    position: absolute;
    top: 12px;
    right: 11px;
    width: 20px;
    height: 20px;
    background: url(assets/img/btn_close.svg) no-repeat center center/ 10px;
  }
}
.area_profile{
  display: flex;
  padding: 12px 20px;
  align-items: center;
  -webkit-box-align: center;
  .thumb_profile{
    position: relative;
    width: 75px;
    height: 75px;
    &::after{
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 75px;
      height: 75px;
      background: url(assets/img/profile_mask.svg) center center/ 100% 100%;
      z-index: 1;
      content: "";
    }
  }
  .info_profile{
    padding-left: 12px;
  }
  .txt_email{
    display: block;
    font-size: 13px;
    line-height: 16px;
    color: #7f7f7f;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
/* gnb */
.gnb{
  position: sticky;
  top: 0;
  z-index: 1;
}
.list_gnb{
  display: flex;
  padding: 0 8px;
  background: #ffa409;
}

.list_gnb .link_gnb{
  display: block;
  height: 50px;
  padding: 0 10px;
  line-height: 50px;
  color: #fff;
}